In [1]:
import pandas as pd
import numpy as np

In [ ]:
import mysql.connector as slcon
conn=slcon.connect(host='localhost',user='root',password='lava',database='fictinal')
print(conn)

In [ ]:
# pip install --upgrade mysql-connector-python

In [ ]:
# import mysql.connector
# conn = mysql.connector.connect(
#         host="localhost",
#         user="root",
#         password="lava",
#         database="",
#         auth_plugin='mysql_native_password'
# )
# print(conn)

In [ ]:
pnt=conn.cursor(buffered=True)

In [ ]:
pnt.execute('create database fictinal')

In [ ]:
pnt.execute('use fictinal')

In [ ]:
pnt.execute("""CREATE TABLE customer (
    customer_id VARCHAR(20),
    name VARCHAR(100),
    age INT,
    gender VARCHAR(10),
    country VARCHAR(50),
    product VARCHAR(100),
    rating INT,
    feedback TEXT,
    purchase_date DATE
)""")