In [3]:
import pandas as pd

In [5]:
# 1. Create a Pandas Series from a list [10, 20, 30, 40, 50].  
list=[10, 20, 30, 40, 50]
print(pd.Series(list))

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
# 2. Create a Pandas Series from a dictionary { 'a': 100, 'b': 200, 'c': 300, 'd': 400 }.  
dictionary={ 'a': 100, 'b': 200, 'c': 300, 'd': 400 }
print(pd.Series(dictionary))

a    100
b    200
c    300
d    400
dtype: int64

In [14]:
# 3. Create a Pandas Series with values [5, 10, 15, 20, 25] and set the index labels as ['A', 'B', 'C', 'D', 'E'].  
values=[5, 10, 15, 20, 25]
s=pd.Series(values,index=['A', 'B', 'C', 'D', 'E'])
s

A     5
B    10
C    15
D    20
E    25
dtype: int64

In [13]:
# 4. Access the 3rd element from a given Series.  
print(s[2])

15

C:\Users\Admin\AppData\Local\Temp\ipykernel_9432\2127384073.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2])

In [16]:
# 5. Retrieve elements from a Series where values are greater than 15. 
print(s[s>15])

D    20
E    25
dtype: int64

In [20]:
# 6. Find the sum, mean, and standard deviation of a Pandas Series containing [2, 4, 6, 8, 10].
s=pd.Series([2, 4, 6, 8, 10])
print(s.sum())
print(s.mean())
print(s.std())

30
6.0
3.1622776601683795

In [23]:
# 7. Check if the value 20 exists in a Pandas Series with values [10, 20, 30, 40, 50].  
s=pd.Series([10, 20, 30, 40, 50])
print(20 in s.values)

True

In [24]:
# 8. Convert a NumPy array [1, 2, 3, 4, 5] into a Pandas Series. 
import numpy as np
a=np.array([1,2,3,4,5])
print(pd.Series(a))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
# 9. Create a Pandas Series with 10 random numbers between 1 and 100
from numpy import random as rd
a=rd.randint(1,100,(10,))
s=pd.Series(a)

In [37]:
# 10. Replace all values greater than 50 in a Series with 50.  
s[s>50]=50
print(s)

0    14
1    50
2    50
3    50
4    50
5    50
6    22
7    50
8    50
9    42
dtype: int32

In [39]:
# 11. Convert a Pandas Series [1, 2, np.nan, 4, 5] into integers by filling NaN values with 0.
s=pd.Series([1, 2, np.nan, 4, 5])
print(s.fillna(0))

0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

In [40]:
# 12. Change the index of a Series to ['X', 'Y', 'Z', 'W', 'V'] for values [10, 20, 30, 40, 50].  
pd.Series([10, 20, 30, 40, 50],index=['X', 'Y', 'Z', 'W', 'V'] )

X    10
Y    20
Z    30
W    40
V    50
dtype: int64

In [50]:
# 13. Sort a Pandas Series with values [30, 10, 50, 20, 40] in descending order.  
s=pd.Series([30, 10, 50, 20, 40])
print(s.sort_values(ascending=False))

2    50
4    40
0    30
3    20
1    10
dtype: int64

In [52]:
# 14. Apply a lambda function to square each value in a Pandas Series with values [2, 3, 4, 5, 6]. 
s=pd.Series([2, 3, 4, 5, 6])
s.apply(lambda x:x**2)

0     4
1     9
2    16
3    25
4    36
dtype: int64

In [53]:
# 15. Convert a Pandas Series of temperature in Celsius [0, 10, 20, 30] to Fahrenheit using the formula F = C * 9/5 + 32.
c=pd.Series([0, 10, 20, 30])
c*(9/5)+32

0    32.0
1    50.0
2    68.0
3    86.0
dtype: float64